/__pycache__/
/process_song/beats_array.json
/beatmap.zip
/beatmap/
test.py
process_song/.DS_Store
process_song/blacksheepedit.ogg
process_song/song9.ogg
signals_project.code-workspace
songs/blacksheepedit.ogg
songs/song9.ogg
songs/blacksheepedit.ogg
process_song/song9.ogg
songs/blacksheepedit.ogg
.DS_Store
